


<%answers.each do |answer|%>
<div class="well">
  <p><%= answer.content%></p>
  <p class="text-info"> Posted by <%= "#{answer.user.name} on #{nice_date answer.created_at}" %> </p>
  </div>

<% end %>
